.container {
  border: 1px solid black; 
  margin: 20px; 
  padding: 10px; 
  flex-direction: 'column'; 
  display: 'flex'
}

.tableDiv {
  display: 'flex';
  flex-direction: 'column';
   align-items:'center'
}